---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const pageTitle = "A propos de moi";

const identity = {
    firstname: "Médéric",
    country: "France",
    occupation: "IT Student",
    hobbies: ["Les jeux-vidéos","L'escalade", "Le fantastique sous toutes ses formes"]
};

const skills = ["HTML & CSS", "JS", "NextJs", "Golang", "Python", "Astro", "Docker", "Linux","Et bien plus !"];
---

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    
</head>

<body>
    <Header/>
    <h1>{pageTitle}</h1>
    <h2> ... et de ce site !</h2>
    <p>Je suis {identity.firstname}, je vis en {identity.country}, et je suis un jeune developpeur en formation chez Ynov Bordeaux.</p>
    <p>Actuellement en B3 Informatique je cherche a me former dans l'infrastructure systemes et reseaux, je sais faire pleins de choses notamment :</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    <p>Je souhaite en effet m'interesser dans le futur au Cloud. Et alors pourquoi pas aller vers l'architecture Cloud.</p>
    <p>C'est donc dans une formation en alternance que je compte forger mon savoir et mon experience !</p>

    <p> Pour vous parler un peu de moi, je suis un jeune venant de Nouvelle-Calédonie un petit paradis du bout du monde où j'ai vécu toute ma vie.</p>
    <p> J'ai donc décidé de partir en France, en 2019, pour mes études et pour découvrir un peu plus le monde.</p>

    {identity.hobbies.length > 0 && (
        <div>
            <h3> Mes hobbies :</h3>
            <ul>
                {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
            </ul>
        </div>
    )}

    <h4> Vous trouverez ainsi sur ce site mon CV et un peu de mon parcours.</h4>
    <Footer/>
    <script>
        import "../scripts/menu.js";
    </script>
</body>